/*Elisabeth Hoyt-Frantz, SDEV 153, Final Project, August 1, 2025*/
* {box-sizing: border-box; }
body {background-color: #B2F5F8;
      color: #290F83;
      font-family: Helvetica, Arial, sans-serif;
      margin: 0;
     }
#wrapper { background-color: #B2F5F8;
          padding: 0;
         }
header { background-color: #79c4d7;
       background-image: url(images/presentclip.jpg);
        background-repeat: no-repeat;
        color: #290F83;
        height: 130px;
        padding-left: 120px;
        padding-top: 5px;
        padding-bottom: 5px;
       }

header a{text-decoration: none; text-align: center;}
header a:link {color: #72e3e9;}
header a:visited {color: #B2F5F8;}
header a:hover {color: #290D89;}
header a{padding-bottom: 5px;}
h1 {font-size: 3em; text-align: center;}
h2 {color: #290D89; text-align: center;}
h3 {color: #290D89; text-align: center;}

nav {text-align: center;
    font-size: 1.5em;
    }
nav a {text-decoration: none;}
nav a:link {color: #290F83;}
nav a:visited {color: #290D60;}
nav a:hover {color: #290D40;}
nav ul {display: flex;
       flex-direction: column;
       font-size: 1.25em;
       list-style-type: none;
       margin: 0;
       padding: 0;}
nav li {border-bottom: 1px solid #290F83;
       padding: .5em 1em;
       width: 100%;}
main {background-color: #B2F5F8;
     display: block;
     padding: 0 0 2em 0;
     }
h2, h3, p, div, ul, {padding-left: 1em; padding-right: 1em; }
main ul {padding-left: 2em;}
.details {padding-left: 20%;
         padding-right: 20%;
         overflow: auto;}
img {padding-left: 10px;
 padding-right: 10px;}
#homehero {height: 300px;
          background-image: url(images/hero.jpg);
          background-repeat: no-repeat;
          background-size: 100% ;
          background-position: center;
          }
#herowedding {height: 300px;
           background-image: url(images/mycake.JPG);
background-repeat: no-repeat;
           background-size: 100%;
           background-position: center;
  }
#heroevent {height: 300px;
           background-image: url(images/pinkpresent.JPG);
           background-repeat: no-repeat;
           background-size: 100%;
           background-position: center;}
#herodessert {height: 300px;
             background-image: url(images/cupcakes.JPG);
             background-repeat: no-repeat;
             background-size: 100%;
             background-position: center;
             }
#herocontact {height: 300px;
             background-image: url(images/kitty.JPG);
             background-repeat: no-repeat;
             background-size: 100%;
             background-position: center;
             }
#mobile {display: inline;}
#desktop {display: none;}
footer {background-color: #70C4D7;
       font-size: .8em;
       font-style: italic;
       text-align: center;
       padding-bottom: 1em;
       border-top: 2px solid #290F83;}
table {margin: auto;
      width: 75%;
      border-spacing: 0;}
th, td {padding: 10px;}
form{
      text-align: center;
      width: 75%;
}

@media (min-width: 600px){
          header{padding-left: 0;
                text-align: center;}
          h1 {font-size: 3em;}
          nav ul {flex-flow: row nowrap;
                 justify-content: space-around;}
          nav li { border-bottom: none;}
#flow {display: flex;
      flex-direction: row;}
          #mobile {display: none;}
          #desktop {display: inline;}
.details {display: flex;
         flex-direction: row;}

}
@media (min-width: 1024px){
          @supports (display: grid){
                    header {grid-area: header;}
                    nav {grid-area: nav;}
                    main {grid-area: main;}
                    footer {grid-area: footer;}
                    #wrapper {display: grid;
                             grid-template:
                                       "header header"
                             "nav main"
                             "footer footer"
                             /200px;}
                    nav ul {flex-direction: column;}
                    header {background-image: url(images/presentclip.jpg);}
          }
}
